* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    background-color: #0f1111;
    color: white;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 5px; */

}
.nav-logo{
    height: 60px;
    width: 200px;
    /* margin-top: 5px; */
}
.border{
    border: 2px solid transparent;
    padding: 2px;

}
.border:hover{
    border: 2px solid white;
    padding: 2px;
}
.logo {
    margin: 2px 2px 2px 3px;
    align-content: center;
    background-image: url('download -1.png');
    background-size: cover;
    height: 60px;
    width: 200px;

}
.nav-address{
    margin-left: 30px;
    margin-top: 2px;
}
.address1{
    color: #cccccc;
    margin-left: 14px;
}
.address2{
    color: white;
    font-size: 15px;
    margin-left: 4px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    margin-left: 15px;
    
    
}
.nav-search:hover{
    border: 1.25px solid #febd68;
}
.searchbar{
    width: 500px;
    height: 28px;
    font-size: 17px;
}
.search-icon{
    color: black;
    background-color: #febd68;
    width: 20px;
    padding: 4px;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  
}
.all{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
}
.nav-sign{
    padding: 0px 4px 8px 9px;
}
.sign-in{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.account{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.nav-return{
    padding: 0px 4px 8px 9px;
}
.return{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.order{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    margin: 0px 1px 0px 0px;
    padding: 0px 9px 11px;
   
}
.basket{
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 17px;
  
}
.cart-logo{
    font-size: 25px;
    padding-top: 5px;
   
}
.panal{
    height: 39px;
    width: full;
    color: white;
    background-color: #232F3E;
   
    display: flex;
    align-items: center;
    
}
.pana-all{
   height: 17;
   width: 14;
   padding: 8px 9px;
}
.panal-option{
    display: flex;
    align-items: center;
    font: 14px;
   
}
.panal-option p{
    margin-left: 15px;
}
.hero-section{
    background-image: url("home.jpg");
    
    height: 600px;
    background-size: cover;
}
.box1{
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 385px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 31px;
    font-family: bold;
    color: #0f1111;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    

}
.image-box1 img{
    
    height: 150px;
    width: 160px;
    background-size: cover;
}

.box2{
    padding-left: 10px;
    padding-right: 10px;
     width: 350px;
    height: 385px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 31px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0f1111;
}
.box3{
    padding-left: 10px;
    padding-right: 10px;
     width: 350px;
    height: 385px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 31px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0f1111;
}
.box4{
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 385px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 31px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0f1111;
}
.her-boxes{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 250px;

}
#img1{
    margin-top: 15px;
    margin-left: 7px;
}
#img2{
    margin-left: 10px;
}
#img3{
    margin-top: 15px;
    margin-left: 7px;
}
#img4{
     margin-left: 10px;
}
.image-box1{
    font-size: 6px;
}
#img5{
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-left: 7px;
}
#img6{
     margin-left: 10px;
}
.image-box2 img{
    height: 150px;
    width: 150px;
}
#img7{
    margin-top: 15px;
    margin-left: 7px;
}
#img8{
     margin-left: 10px;
}
.image-box3 img{
    height: 150px;
    width: 150px;
    background-size: cover;
}
#img9{
    margin-top: 15px;
    margin-left: 7px;
}
#img10{
    margin-left: 10px;
}
#img11{
    margin-top: 15px;
    margin-left: 7px;
}
#img12{
     margin-left: 10px;
}
.image-box4 img{
    height: 150px;
    width: 150px;
    background-size: cover;
}
#img13{
    margin-top: 15px;
    margin-left: 7px;
}
#img14{
    margin-left: 10px;
}
#img15{
    margin-top: 15px;
    margin-left: 7px;
}
#img16{
     margin-left: 10px;
}

